.rightSide {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.navbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 2rem 4rem 0.8rem 4rem;
	gap: 2rem;
	margin-bottom: 4rem;
}

.logo_container{
	display: flex;
	align-items: flex-end;
	gap: 10px;
}

.alchemy_logo{
	height: 3rem;
	width: 3rem;
	cursor: pointer;
}